<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-banner-title">Profile </h1>        
      </div>
    </div>
  </div>
</div>
<div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12 ms-auto me-auto">
        <ul class="login-register-tab-list nav">         
        </ul>
        <div class="tab-content">
          <div class="tab-pane show active">
            <%= form_with model: @profile do |form| %>
              <div class="row">
                <div class="col-12 mb-30">
                  <%= form.text_field :name, autofocus: true, required: true,  placeholder: "Name" %>                  
                </div>

                <div class="col-12 mb-30">
                  <%= form.text_field :mobile_number, required: true, placeholder: "Mobile_number" %>                    
                </div>

                <div class="col-12 mb-30">
                  <%= form.text_field :address, required: true, placeholder: "Address" %>
                </div>

                <div class="col-12 mb-30">
                  <%= form.text_field :about, required: true, placeholder: "About" %>          
                </div>

                <div class="col-12 mb-30">
                  <% if form.object.image.attached? %>
                   <%= form.file_field :image %>
                  <% else %>
                    <%= form.file_field :image , required: true %>
                  <% end %>
                </div>
                <div class="col-12"><%= form.submit "submit", class: "btn" %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>