<!--Page Banner Section start-->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-banner-title">My Account</h1>        
      </div>
    </div>
  </div>
</div>
<!--Page Banner Section end-->
<!--Login & Register Section start-->
<div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
  <div class="container">
    <div class="row row-25">
      <%= render partial: "layouts/web/acount_menu"%>
      <div class="col-lg-8 col-12">
        <div class="tab-content">
          <div class="tab-pane show active">
            <div class="row">
              <!--Property start-->
              <% if @properties.present? %>
              <% @properties.each do |property| %>
              <div class="property-item col-md-6 col-12 mb-40">
                <div class="property-inner">
                  <div class="image">
                    <a href="single-properties.html"><img src="/assets/web/property-4.jpg" alt=""></a>
                    <ul class="property-feature">
                      <li>
                        <span class="area"><img src="/assets/web/area.png" alt=""><%= property.size %> SqFt</span>
                      </li>
                      <li>
                        <span class="bed"><img src="/assets/web/bed.png" alt=""><%= property.bedrooms %></span>
                      </li>
                      <li>
                        <span class="bath"><img src="/assets/web/bath.png" alt=""><%= property.bathrooms %></span>
                      </li>
                      <li>
                        <span class="parking"><img src="/assets/web/parking.png" alt=""><%= property.parking %></span>
                      </li>
                    </ul>
                  </div>
                  <div class="content">
                    <div class="left">
                      <h3 class="title"><a href="single-properties.html"><%= property.name %></a></h3>
                      <span class="location"><img src="/assets/web/marker.png" alt=""><%= property.location %></span>
                    </div>
                    <div class="right">
                      <div class="type-wrap">
                        <span class="price">&#8377;<%= property.price %></span>                   
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <% else %>
                <div class="col-12 mb-30">
                  <h3 class="mb-0">There is not properties, can you add properties?</h3>
                </div>
              <% end %>
              <!--Property end-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Login & Register Section end-->