<!--Page Banner Section start-->
<div class="page-banner-section section" style="background-image: url(https://htmldemo.net/khonike/khonike/assets/images/bg/single-property-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-banner-title">Properties Details</h1>
      </div>
    </div>
  </div>
</div>
<!--Page Banner Section end-->
<!--New property section start-->
<div class="property-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 order-1 order-lg-2 mb-sm-50 mb-xs-50">
        <div class="row">
          <!--Property start-->
          <div class="single-property col-12 mb-50">
            <div class="property-inner">
              <div class="head">
                <div class="left">
                  <h1 class="title"><%= @property.name %></h1>
                  <span class="location"><img src="https://htmldemo.net/khonike/khonike/assets/images/icons/marker.png" alt=""><%= @property.location %></span>
                </div>
                <div class="property-search col-lg-4 ">
                  <% if current_user&.role == "customer" %>
                  <a class="btn" href="/rooms?id=<%= @property.slug %>">chat with agents</a>
                  <% end %>
                </div>
                <div class="right">
                  <div class="type-wrap">
                    <% if @property.status_type == "For Rent" %>
                      <span class="price">&#8377;<%= @property.price %><span>Month</span></span> 
                      <span class="type">For Rent</span>
                     <% else %>
                      <span class="type">For Sale</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class=""id="img-container" >
                <div id="lens"></div>
                <% if @property.images.attached? %>                
                  <%= image_tag @property.images.last ,id: "featured" %>
                <% else %>
                  <img src="https://htmldemo.net/khonike/khonike/assets/images/property/single-property-1.jpg" alt="">
                <% end %>
              </div>
               <!-- <div id="img-container">
                  <div id="lens"></div>
                  <img id=featured src="/assets/web/news-1.jpg">
                </div>  -->
              <!-- <div class="picZoomer">
                <img src="/assets/web/news-2.jpg">
              </div> -->
              <div class="content">
                <h3>Description</h3>
                <%= @property.location %>                
                <div class="row mt-30 mb-30">
                  <div class="col-md-5 col-12 mb-xs-30">
                    <h3>Condition</h3>
                    <ul class="feature-list">
                      <li>
                        <div class="image"><img src="<%= asset_path('web/area.png')%>" alt=""></div>
                        Area <%= @property.size %>
                      </li>
                      <li>
                        <div class="image"><img src="<%= asset_path('web/bed.png')%>" alt=""></div>
                        Bedroom <%= @property.bedrooms %>
                      </li>
                      <li>
                        <div class="image"><img src="<%= asset_path('web/bath.png')%>" alt=""></div>
                        Bathroom <%= @property.bathrooms %>
                      </li>
                      <li>
                        <div class="image"><img src="<%= asset_path('web/parking.png')%>" alt=""></div>
                        Garage <%= @property.parking %>
                      </li>
                      
                      <li>
                        <div class="image"><img src="https://htmldemo.net/khonike/khonike/assets/images/icons/kitchen.png" alt=""></div>
                        Kitchen 2
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-7 col-12">
                    <h3>Amenities</h3>
                    <ul class="amenities-list">
                      <li>Air Conditioning</li>
                      <li>Bedding</li>
                      <li>Balcony</li>
                      <li>Cable TV</li>
                      <li>Internet</li>
                      <li>Parking</li>
                      <li>Lift</li>
                      <li>Pool</li>
                      <li>Dishwasher</li>
                      <li>Toaster</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="col-12 mb-30">
                    <h3>Video</h3>
                    <div class="embed-responsive ratio ratio-16x9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8CbvItGX7Vk"></iframe>
                    </div>
                  </div> -->
                  <!-- <div class="col-12">
                    <h3>Location</h3>
                    <div class="embed-responsive ratio ratio-16x9">
                      <div id="single-property-map" class="embed-responsive-item google-map" data-lat="40.740178" data-Long="-74.190194"></div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!--Property end-->
          <!--Comment start-->
          <div class="comment-wrap col-12">
            <!-- <h3>3 Feedback</h3> -->
            <!-- <ul class="comment-list">
              <li>
                <div class="comment">
                  <div class="image"><img src="https://htmldemo.net/khonike/khonike/assets/images/review/review-1.jpg" alt=""></div>
                  <div class="content">
                    <h5>Alvaro Santos</h5>
                    <div class="d-flex flex-wrap justify-content-between">
                      <span class="time">10 August, 2022  |  10 Min ago</span>
                      <a href="#" class="reply">reply</a>
                    </div>
                    <div class="decs">
                      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and ising pain  borand I will give you a complete account of the system</p>
                    </div>
                  </div>
                </div>
                <ul class="child-comment">
                  <li>
                    <div class="comment">
                      <div class="image"><img src="https://htmldemo.net/khonike/khonike/assets/images/review/review-2.jpg" alt=""></div>
                      <div class="content">
                        <h5>Silvia Anderson</h5>
                        <div class="d-flex flex-wrap justify-content-between">
                          <span class="time">10 August, 2022  |  25 Min ago</span>
                          <a href="#" class="reply">reply</a>
                        </div>
                        <div class="decs">
                          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and ising pain  borand I will give you a complete account of the system</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="comment">
                  <div class="image"><img src="https://htmldemo.net/khonike/khonike/assets/images/review/review-3.jpg" alt=""></div>
                  <div class="content">
                    <h5>Nicolus Christopher</h5>
                    <div class="d-flex flex-wrap justify-content-between">
                      <span class="time">10 August, 2022  |  35 Min ago</span>
                      <a href="#" class="reply">reply</a>
                    </div>
                    <div class="decs">
                      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and ising pain  borand I will give you a complete account of the system</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul> -->
            <h3>Leave a Feedback</h3>
            <div class="comment-form">
              <form action="#">
                <div class="row">
                  <div class="col-md-6 col-12 mb-30"><input type="text" placeholder="Name"></div>
                  <div class="col-md-6 col-12 mb-30"><input type="email" placeholder="Email"></div>
                  <div class="col-md-6 col-12 mb-30"><input type="text" placeholder="Name"></div>
                  <div class="col-md-6 col-12 mb-30"><input type="email" placeholder="Email"></div>
                  <div class="col-12 mb-30"><textarea placeholder="Message"></textarea></div>
                  <div class="col-12"><button class="btn">send now</button></div>
                </div>
              </form>
            </div>
          </div>
          <!--Comment end-->
        </div>
      </div>
      <div class="col-lg-4 col-12 order-2 order-lg-1 pr-30 pr-sm-15 pr-xs-15">
        <!--Sidebar start-->
        <div class="sidebar">
           <!-- <h4 class="sidebar-title"><span class="text">Search Property</span><span class="shape"></span></h4>  -->
          <!-- <!Property Search start -->
          <div class="property-search sidebar-property-search">
            <div id="favourite_section">
              <%= render partial: "properties/favourite_form", locals: {property: @property} %>
            </div>
            </br>
            <%= form_with(model: [@property, @order], local: true) do |form| %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <!-- <label class="amount">
                <span>Amount: $<%#= current_cart.sub_total %></span>
                </label>  -->
              </article>
              <input type="submit", class="btn" value="Buy Now"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="<%= @property&.price.to_f * 100 %>"
              data-locale="auto">
               <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
               <script src="https://checkout.stripe.com/v2/checkout.js"></script>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
            <% end %>
          </div>      
          <!--Property Search end-->
        </div>
        <!--Sidebar end-->
        <!--Sidebar start-->
        <div class="sidebar">
          <h4 class="sidebar-title"><span class="text">Feature Property</span><span class="shape"></span></h4>
          <!--Sidebar Property start-->
          <div class="sidebar-property-list">
            <div class="sidebar-property">
              <div class="image">
                <% if @property.status_type == "For Rent" %>                                       
                  <span class="type">For Rent</span>
                <% else %>
                  <span class="type">For Sale</span>
                <% end %> 
                <a href="#"><img src="https://htmldemo.net/khonike/khonike/assets/images/property/sidebar-property-1.jpg" alt=""></a>
              </div>
              <div class="content">
                <h5 class="title"><a href="#"><%= @property.name %></a></h5>
                <span class="location"><img src="https://htmldemo.net/khonike/khonike/assets/images/icons/marker.png" alt=""><%= @property.location %></span>
                <span class="price">&#8377;<%= @property.price %> <span>Month</span></span>
              </div>
            </div>
            <div class="sidebar-property">
              <div class="image">
                <% if @property.status_type == "For Rent" %>                                      
                  <span class="type">For Rent</span>
                <% else %>
                  <span class="type">For Sale</span>
                <% end %>
                <a href="#"><img src="https://htmldemo.net/khonike/khonike/assets/images/property/sidebar-property-2.jpg" alt=""></a>
              </div>
              <div class="content">
                <h5 class="title"><a href="#"><%= @property.name %></a></h5>
                <span class="location"><img src="https://htmldemo.net/khonike/khonike/assets/images/icons/marker.png" alt=""><%= @property.location %></span>
                <span class="price">&#8377;<%= @property.price %></span>
              </div>
            </div>
            <div class="sidebar-property">
              <div class="image">
                <% if @property.status_type == "For Rent" %>                                      
                  <span class="type">For Rent</span>
                <% else %>
                  <span class="type">For Sale</span>
                <% end %>
                <a href="#"><img src="https://htmldemo.net/khonike/khonike/assets/images/property/sidebar-property-3.jpg" alt=""></a>
              </div>
              <div class="content">
                <h5 class="title"><a href="#"><%= @property.name %></a></h5>
                <span class="location"><img src="https://htmldemo.net/khonike/khonike/assets/images/icons/marker.png" alt=""><%= @property.location %></span>
                <span class="price">&#8377;<%= @property.price %> <span>Month</span></span>
              </div>
            </div>
          </div>
          <!--Sidebar Property end-->
        </div>
        <!--Sidebar start-->
        <div class="sidebar">
          <h4 class="sidebar-title"><span class="text">Top Agents</span><span class="shape"></span></h4>
          <!--Sidebar Agents start-->
          <div class="sidebar-agent-list">
            <div class="sidebar-agent">
              <div class="image">
                <a href="#"><img src="https://htmldemo.net/khonike/khonike/assets/images/agent/agent-1.jpg" alt=""></a>
              </div>
              <div class="content">
                <h5 class="title"><a href="#">Donald Palmer</a></h5>
                <a href="#" class="phone">(756) 447 5779</a>
                <span class="properties">5 Properties</span>
                <div class="social">
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="sidebar-agent">
              <div class="image">
                <a href="#"><img src="https://htmldemo.net/khonike/khonike/assets/images/agent/agent-2.jpg" alt=""></a>
              </div>
              <div class="content">
                <h5 class="title"><a href="#">Sean Hamilton</a></h5>
                <a href="#" class="phone">(756) 447 5779</a>
                <span class="properties">5 Properties</span>
                <div class="social">
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="sidebar-agent">
              <div class="image">
                <a href="#"><img src="https://htmldemo.net/khonike/khonike/assets/images/agent/agent-3.jpg" alt=""></a>
              </div>
              <div class="content">
                <h5 class="title"><a href="#">Christine Gilbert</a></h5>
                <a href="#" class="phone">(756) 447 5779</a>
                <span class="properties">5 Properties</span>
                <div class="social">
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                  <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--Sidebar Agents end-->
        </div>
        <!--Sidebar start-->
        <div class="sidebar">
          <h4 class="sidebar-title"><span class="text">Popular Tags</span><span class="shape"></span></h4>
          <!--Sidebar Tags start-->
          <div class="sidebar-tags">
            <a href="#">Houses</a>
            <a href="#">Real Home</a>
            <a href="#">Baths</a>
            <a href="#">Beds</a>
            <a href="#">Garages</a>
            <a href="#">Family</a>
            <a href="#">Real Estates</a>
            <a href="#">Properties</a>
            <a href="#">Location</a>
            <a href="#">Price</a>
          </div>          
          <!--Sidebar Tags end-->          
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
#img-container{
  z-index: 1;
  max-width: 400px;
  position: relative;
}
#featured{
height: 320px;
}


#lens{
 z-index: 2;
  position: absolute;
  height: 325px;
  width: 395px;
  border:2px solid black;
  background: rgba(0, 0, 0, .4);
  cursor: none;
  margin-left: 101%;
/*  overflow: hidden;*/
}
</style>
<script type="text/javascript">
  document.getElementById('img-container').addEventListener('mouseover', function(){
    imageZoom('featured')
})
function imageZoom(imgID){
  let img = document.getElementById(imgID)
  let lens = document.getElementById('lens')
  lens.style.backgroundImage = `url( ${img.src} )`
  let ratio = 6
  lens.style.backgroundSize = (img.width * ratio) +  'px ' + (img.height * ratio) + 'px';
  img.addEventListener("mousemove", moveLens)
  lens.addEventListener("mousemove", moveLens)
  img.addEventListener("touchmove", moveLens)

  function moveLens(){    
    let pos = getCursor()
    //console.log('pos:', pos)

    //2
    let positionLeft = pos.x - (lens.offsetWidth )
    let positionTop = pos.y - (lens.offsetHeight )

    //5
    if(positionLeft < 0 ){
      positionLeft = 0
    }

    if(positionTop < 0 ){
      positionTop = 0
    }

    if(positionLeft > img.width - lens.offsetWidth /3 ){
      positionLeft = img.width - lens.offsetWidth /3
    }
    if(positionTop > img.height - lens.offsetHeight /3 ){
      positionTop = img.height - lens.offsetHeight /3
    }


    //3
    lens.style.left = positionLeft + 'px';
    lens.style.top = positionTop + 'px';

    //4
    lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' +  (pos.y * ratio) + 'px'
  }

  function getCursor(){
    let e = window.event
    let bounds = img.getBoundingClientRect()
    let x = e.pageX - bounds.left
    let y = e.pageY - bounds.top
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {'x':x, 'y':y}
  }
}
imageZoom('featured')
</script>
<script>
  $(document).ready(function() {
    $(':submit').on('click', function(event) {
      event.preventDefault();
      var $button = $(this),
        $form = $button.parents('form');
      var opts = $.extend({}, $button.data(), {
        token: function(result) {
        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
        }
      });
      StripeCheckout.open(opts);
    });
  });
</script>
