<!--Page Banner Section start-->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-banner-title">Agent Details</h1>
        <ul class="page-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Agent Details</li>
        </ul>
      </div>
    </div>
  </div>	
</div>
<!--Page Banner Section end-->
<!--Agent Section start-->
<div class="agent-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
	<% @favourites.each do |favorite| %>
    <div class="container">
      <div class="row row-25">
         <!--Agent Image-->
          <div class="col-lg-5 col-12 mb-30">
            <div class="agent-image">
            	<% if favorite.property.images.attached? %>                
                <%= image_tag favorite.property.images.last %>                
              <% else %>                
               <img src="/assets/web/agent-1.jpg" alt="">
              <% end %>
            </div>
          </div>
          <!--Agent Content-->
          <div class="col-lg-7 col-12">
            <div class="agent-content">
             <h3 class="title"><%= favorite.property.name %></h3>
             <p>Donald Palmer is a Specialist Real Estate Agent with 8 years of   Experience in Real Estate field. He achive success with his honesty,determination, hardwork and commetment. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, totam?</p>
              <div class="row">
                <div class="col-md-6 col-12 mb-30">
                  <h4>Persoanl Info</h4>
                  <ul>
                    <li><i class="pe-7s-map-marker"></i><%=  favorite.property.location %></li>
                    <li><i class="pe-7s-browser"></i><a href="#"><%=  favorite.property.bedrooms %></a></li>
                    <li><i class="pe-7s-mail-open"></i><a href="#"><%=  favorite.property.price %></a></li>
                    <li><i class="pe-7s-car"></i><%=  favorite.property.parking %></li>
                  </ul>
                  <div class="social">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                  </div>
                </div>
                <div class="col-md-6 col-12 mb-30">
                 	<!-- <h4>Agency Info</h4>
                 	<ul>
                    <li><span>Agency:</span> <span><a href="#">Royao Estates</a> <a href="#">Duplex Estates</a></span></li>
                    <li><span>Company:</span> <span>GTA5</span></li>
                    <li><span>Licenses:</span> <span>AB7876A6</span></li>
                    <li><span>Number:</span> <span><a href="#">(756) 447 5744</a></span></li>
                    <li><span>Address:</span> <span>246, 2st AVE, Manchester 126 , Noth England</span></li>
                 	</ul> -->
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!--Agent Section end-->