<!--Page Banner Section start-->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-banner-title">My Posts</h1>        
      </div>
    </div>
  </div>
</div>
<!--Page Banner Section end-->
<!--Login & Register Section start-->
<div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
  <div class="container">
    <div class="row row-25">
      <%= render partial: "layouts/web/acount_menu"%>
      <div class="col-lg-8 col-12">
        <div class="tab-content">
          <div id="" class="tab-pane show active">
            <%= form_with(model: @post) do |form| %>
              <div class="row">
                <div class="col-12 mb-30">
                  <h3 class="mb-0">Post New</h3>
                </div>
                  <div class="col-md-6 col-12 mb-30">
                    <label for="f_name">Name</label>
                    <%= form.text_field :name, autofocus: true, required: true,  placeholder: "Name" %>
                  </div>
                  <div class="col-md-6 col-12 mb-30">
                    <label for="l_name">Email</label>                    
                    <%= form.text_field :email, required: true, placeholder: "Email" %>
                  </div>
                  <div class="col-md-6 col-12 mb-30">
                    <label for="Phone_number">Phone_number</label>
                    <%= form.number_field :phone_number,required: true, placeholder: "Phone_number" %>
                  </div>
                  <div class="col-md-6 col-12 mb-30">
                    <label for="price">City</label>
                    <%= form.text_field :city, required: true, placeholder: "city" %>
                  </div>

                  <div class="col-md-6 col-12 mb-30">
                    <label for="property_type">Property Type</label>
                    <%= form.text_field :property_type, required: true, placeholder: "Property Type" %>
                  </div>

                  <div class="col-md-6 col-12 mb-30">
                    <label for="transaction_type">transaction Type</label>
                    <%= form.text_field :transaction_type, required: true, placeholder: "Transaction Type" %>
                  </div>

                  <div class="col-md-6 col-12 mb-30">
                    <label for="price">price</label>
                    <%= form.text_field :price, required: true, placeholder: "price" %>
                  </div>

                  <div class="col-md-6 col-12 mb-30">
                    <label for="address">address</label>
                    <%= form.text_field :address, required: true, placeholder: "Address" %>
                  </div>                                   
                <div class="col-12 mb-30"><%= form.submit "submit", class: "btn" %></div>        
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Login & Register Section end-->