<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="  ">
        <h4 class="card-title mt-0">Property</h4>
      </div>
      <div class="card-body">
        <%= form_for([:admin, @property]) do |form| %>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> Name</label>
           <%= form.text_field :name,required: true, class: "form-control",id: "exampleInput1"%>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> amenities</label>
           <%= form.text_field :amenities, required: true, class: "form-control",id: "exampleInput1" %>
          </div>

          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> size</label>
           <%= form.text_field :size,required: true, class: "form-control",id: "exampleInput1" %>
          </div>

          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Price</label>
           <%= form.text_field :price, required: true, class: "form-control",id: "exampleInput1" %>
          </div>


          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Bedrooms</label>
           <%= form.number_field :bedrooms, required: true, class: "form-control",id: "exampleInput1" %>
          </div>


          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Bathrooms</label>
           <%= form.number_field :bathrooms,required: true, class: "form-control",id: "exampleInput1" %>
          </div>

          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Parking</label>
           <%= form.number_field :parking, required: true, class: "form-control",id: "exampleInput1" %>
          </div>

          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Agent</label>   
           <%= form.select :user_id, User.agents.map{ |u| [u.email, u.id ]}, {:prompt => '-- Please Select Agent --'}, class: "form-control" %>
          </div>

          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Status type</label>   
           <%= form.select :status_type, Property.status_types.map{ |st| [st[0], st[1].to_i]}, {:prompt => '-- Please Select Agent --'}, class: "form-control" %>
          </div>

          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> Description</label>
           <%= form.text_area :description, required: true, class: " ckeditor form-control",id: "exampleInput1" %>           
          </div>

          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Property type </label>
           <%= form.select :property_type, [['Cafe','cafe'],['Apartment','apartment'],['House','house'],['Restaurant','restaurant'],['Store','Store'],['Villa','villa']],{:prompt => '-- Please Select property type --'}, class: "form-control" %>
          </div>
          
          <div class="form-group">
           <!-- <label for="exampleInput1" class="bmd-label-floating"> Location</label> -->
            <%= form.text_field :location, id: "address", required: true, autocomplete: "off" ,class: "form-control" %>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> Country</label>
           <%= form.text_field :country,required: true, class: "form-control",id: "country" %>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> State</label>
           <%= form.text_field :state,required: true,id: "state", class: "form-control" %>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> City</label>
           <%= form.text_field :city,required: true, class: "form-control",id: "city" %>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> Latitude</label>
           <%= form.text_field :latitude,required: true,  class: "form-control",id: "latitude" %>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> Longitude,</label>
           <%= form.text_field :longitude ,required: true, class: "form-control",id: "longitude" %>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating"> Postal_code</label>
           <%= form.text_field :postal_code,required: true, id: "postcode", class: "form-control" %>
          </div>
          <div class="form-group">
           <label class="bmd-label-floating"> is_approved</label>
           <%= form.check_box :is_approved, required: true %>
          </div>      
          <div>
            <%= form.label :imgage %><br>
            <% if form.object.new_record? %>
              <%= form.file_field :images, multiple: true %>
            <% else %>
              <%= form.file_field :images, multiple: true %>
            <% end %>
          </div>                           
            <%= form.submit class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvuPSxdugPS2FJQibo-i78wVZHWgmKemk&callback=initAutocomplete&libraries=places&v=weekly"defer>
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script type="text/javascript">
  function initialize() {
    var input = document.getElementById('address');
    var autocomplete = new google.maps.places.Autocomplete(input);

    // Listener for the 'place_changed' event on the current location autocomplete
    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (place.geometry && place.geometry.location) {
        document.getElementById('country').value = extractAddressComponent(place, 'country');
        document.getElementById('state').value = extractAddressComponent(place, 'administrative_area_level_1');
        document.getElementById('city').value = extractAddressComponent(place, 'locality');
        document.getElementById('postcode').value = extractAddressComponent(place, 'postal_code');
        document.getElementById('latitude').value = place.geometry.location.lat();
        document.getElementById('longitude').value = place.geometry.location.lng();
      }
    });
  }

  function extractAddressComponent(place, componentType) {
    for (var i = 0; i < place.address_components.length; i++) {
      for (var j = 0; j < place.address_components[i].types.length; j++) {
        if (place.address_components[i].types[j] === componentType) {
          return place.address_components[i].long_name;
        }
      }
    }
    return '';
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
